@import '../less-prefixer/prefixer';
/*
 * Theme Variables.
 */

@theme-color1: #BF616A;
@theme-color2: #EBCB8B;
@theme-color3: #B282AB;
@theme-color4: #20242D;
@theme-color5: #2B303B;

@theme-font-size-tiny: 12px;
@theme-font-size-regular: 16px;
@theme-font-size-medium: 24px;
@theme-font-size-large: 36px;
@theme-font-family1: Roboto Condensed;
@theme-font-family2: Roboto;
@theme-font-family3: Envy Code R;
@theme-highlight: @theme-color2;

@body-color: @theme-color3;
@body-bgcolor: @theme-color5;
@head-color: @theme-color1;
@head-bgcolor: @theme-color2;
@link-color: @theme-color1;
@link-color-hover: @theme-color2;

@body-font-size: @theme-font-size-regular;
@body-font-family: @theme-font-family2;
@head-font-size: @theme-font-size-large;
@head-font-family: @theme-font-family1;

h1, h2, h3, h4, h5, h6 {
    font-family: @head-font-family;
    font-weight: bold;
    display:     block;
    margin:      0.67em 0 0.67em 0;
    color:       @head-bgcolor;
}

.generate-head(@n, @i: 1) when (@i =< @n) {
    h@{i} {
        font-size: round((@head-font-size - ((@i - 1) * 2 )),2);
    }
    .generate-head(@n, (@i + 1));
}
.generate-head(6);

body {
    font-size:        @theme-font-size-regular;
    font-family:      @body-font-family;
    background-color: @body-bgcolor;
    color:            @body-color;
    margin: 0;
    padding: 0;
    line-height: 1.67em
}
ul {
    line-height: 1.67em;
    li {
        list-style-type: square;
    }
}

em {
    color: @link-color-hover;
}
#jd-head {
     background-color: @head-bgcolor;
     color: @theme-color4;
}
#jd-brand {
     font-family: @head-font-family;
     font-size: @theme-font-size-medium;
     letter-spacing: -0.05em;
     padding: 10px;
}
#jd-body {
    padding: 20px;
    blockquote {
        background-color: @theme-color4;
        font-family: @theme-font-family3;
        font-size: 1em;
        text-align: center;
        color: @theme-color1;
        line-height: 1.67em;
        padding: 10px;
        margin: 0px
    }
}

.link, a {
  color: @link-color;
  text-decoration: none;
  &:hover {
    color: @link-color-hover;
  }
}


#jd-nav-top {
    li{
        list-style: none;
        margin: 0;
        padding: 5px 0 5px 10px;
    }
    background-color: @theme-color1;
    margin: 0;
    padding: 0 10px 0 0;
    font-family: @body-font-family;
    font-size: @theme-font-size-regular;
    font-weight: bolder;
    text-transform: uppercase;
    list-style: none;
    margin: 0;
    .flex-block();
    .flex-flow(row wrap);
    .justify-content(flex-end);
    a {
        text-decoration: none;
        display: block;
        color: @theme-color5;
    }
    a:hover {
        color: @link-color-hover;
    }
    a.active{
        color: @link-color-hover;
        .text-shadow(0px 0px 3px @link-color-hover);
    }
}


/* Large */
#jd-nav-top {
    .flex-block();
    .flex-flow(row wrap);
    .justify-content(flex-end);
}
/* Medium screens */
@media all and (max-width: 800px) {
    #jd-nav-top {
        .justify-content(flex-end);
    }
}
/* Small screens */
@media all and (max-width: 500px) {
    #jd-nav-top {
        padding-top: 5px;
        /* On small screens, we are no longer using row direction but column */
        .flex-direction(column);
    }
}
