@import '../less-prefixer/prefixer';
/*
 * Theme Variables.
 */
@theme-color1: #BF616A;
@theme-color2: #EBCB8B;
@theme-color3: #B282AB;
@theme-color4: #20242D;
@theme-color5: #2B303B;

body {
    padding-top: 50px;
}

ul {
    li {
        list-style-type: square;
    }
}

.navbar-brand {
    letter-spacing: -0.05em;
}

#jd-nav-top {
    font-weight: bolder;
    text-transform: uppercase;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: @theme-color4;
}
em {
    color: @theme-color2;
}
blockquote {
    background-color: @theme-color4;
    text-align: center;
    color: @theme-color1;
}
/* Medium screens */
@media all and (max-width: 800px) {}
/* Small screens */
@media all and (max-width: 500px) {}
